<wm-page data-ng-controller="MainPageController"> 
    <wm-header content="header"></wm-header> 
    <wm-content> 
        <wm-left-panel columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content columnwidth="8"> 
            <wm-layoutgrid name="layoutgrid2" width="100%"> 
                <wm-gridrow borderunit="px" name="gruidrow4" paddingbottom="1" paddingunit="em"> 
                    <wm-gridcolumn paddingunit="em" paddingright=".5" paddingleft=".5" name="gridcolumn10" columnwidth="3" paddingtop=".5" paddingbottom=".5"> 
                        <wm-tile name="tile1" bordertop="1" borderleft="1" borderright="1" borderbottom="1" borderunit="px" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" paddingbottom="1" backgroundcolor="#aeeae2"> 
                            <wm-layoutgrid opacity="1" marginunit="em" paddingunit="em" name="layoutgrid3"> 
                                <wm-gridrow opacity="1" name="gridrow7"> 
                                    <wm-gridcolumn opacity="0.7" name="gridcolumn20" columnwidth="8" class="col-xs-8"> 
                                        <wm-label paddingunit="em" width="100%" caption="Today's Visits" name="label2" class="text-uppercase h5" marginbottom="0" marginunit="em" margintop="0"></wm-label> 
                                        <wm-label paddingunit="em" width="100%" caption="7,842,900" name="label3" class="h3"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.7" paddingunit="em" paddingright=".5" fontunit="em" fontsize="3.5" name="gridcolumn22" columnwidth="4" class="col-xs-4"> 
                                        <wm-icon showindevice="all" iconclass="glyphicon glyphicon-globe" class="pull-right" name="icon1"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow opacity="1" name="gridrow8"> 
                                    <wm-gridcolumn opacity="1" name="gridcolumn23" columnwidth="12"> 
                                        <wm-progress opacity="1" width="100%" height="4" name="progress1" type="info"></wm-progress> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.6" name="gridcolumn24" columnwidth="12"> 
                                        <wm-label paddingbottom="1" paddingunit="em" fontunit="em" fontsize="1" caption="Compared last week (70.1%)" name="label4" class="h5" marginbottom="0" marginunit="em"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn25" paddingunit="em" paddingright=".5" paddingleft=".5" columnwidth="3" paddingtop=".5" paddingbottom=".5"> 
                        <wm-tile bordertop="1" borderleft="1" borderright="1" borderbottom="1" borderunit="px" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" name="tile10" paddingbottom="1" backgroundcolor="#aed5ea"> 
                            <wm-layoutgrid opacity="1" marginunit="em" paddingunit="em" name="layoutgrid15"> 
                                <wm-gridrow opacity="1" name="gridrow31"> 
                                    <wm-gridcolumn opacity="0.7" columnwidth="8" class="col-xs-8" name="gridcolumn58"> 
                                        <wm-label paddingunit="em" width="100%" caption="Unique Visits" class="text-uppercase h5" marginbottom="0" marginunit="em" margintop="0" name="label40"></wm-label> 
                                        <wm-label paddingunit="em" width="100%" caption="2,00,000" class="h3" name="label41"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.7" paddingunit="em" paddingright=".5" fontunit="em" fontsize="3.5" columnwidth="4" class="col-xs-4" name="gridcolumn59_1"> 
                                        <wm-icon showindevice="all" iconclass="glyphicon glyphicon-user" class="pull-right" name="icon8"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow opacity="1" name="gridrow32"> 
                                    <wm-gridcolumn opacity="1" columnwidth="12" name="gridcolumn60"> 
                                        <wm-progress opacity="1" width="100%" height="4" name="progress8" type="success"></wm-progress> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.6" columnwidth="12" name="gridcolumn61"> 
                                        <wm-label paddingbottom="1" paddingunit="em" fontunit="em" fontsize="1" caption="Compared last week (70.1%)" class="h5" marginbottom="0" marginunit="em" name="label42"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn35" paddingunit="em" paddingright=".5" paddingleft=".5" columnwidth="3" paddingtop=".5" paddingbottom=".5"> 
                        <wm-tile bordertop="1" borderleft="1" borderright="1" borderbottom="1" borderunit="px" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" name="tile11" paddingbottom="1" backgroundcolor="#fff3bf"> 
                            <wm-layoutgrid opacity="1" marginunit="em" paddingunit="em" name="layoutgrid16"> 
                                <wm-gridrow opacity="1" name="gridrow33"> 
                                    <wm-gridcolumn opacity="0.7" columnwidth="8" class="col-xs-8" name="gridcolumn62_1"> 
                                        <wm-label paddingunit="em" width="100%" caption="UpTime" class="text-uppercase h5" marginbottom="0" marginunit="em" margintop="0" name="label43"></wm-label> 
                                        <wm-label paddingunit="em" width="100%" caption="23:30 Hrs" class="h3" name="label44"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.7" paddingunit="em" paddingright=".5" fontunit="em" fontsize="3.5" columnwidth="4" class="col-xs-4" name="gridcolumn63_1"> 
                                        <wm-icon showindevice="all" iconclass="glyphicon glyphicon-cloud" class="pull-right" name="icon9"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow opacity="1" name="gridrow34"> 
                                    <wm-gridcolumn opacity="1" columnwidth="12" name="gridcolumn64"> 
                                        <wm-progress opacity="1" width="100%" height="4" name="progress9" datavalue="99" type="warning"></wm-progress> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.6" columnwidth="12" name="gridcolumn65"> 
                                        <wm-label paddingbottom="1" paddingunit="em" fontunit="em" fontsize="1" caption="Compared last week (.1%)" class="h5" marginbottom="0" marginunit="em" name="label45"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="gridcolumn40" paddingunit="em" paddingright=".5" paddingleft=".5" columnwidth="3" paddingtop=".5" paddingbottom=".5"> 
                        <wm-tile bordertop="1" borderleft="1" borderright="1" borderbottom="1" borderunit="px" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" name="tile12" paddingbottom="1" backgroundcolor="#d5283d" color="#fff"> 
                            <wm-layoutgrid opacity="1" marginunit="em" paddingunit="em" name="layoutgrid17"> 
                                <wm-gridrow opacity="1" name="gridrow35"> 
                                    <wm-gridcolumn opacity="0.7" columnwidth="8" class="col-xs-8" name="gridcolumn66"> 
                                        <wm-label paddingunit="em" width="100%" caption="Attacks" class="text-uppercase h5" marginbottom="0" marginunit="em" margintop="0" name="label46"></wm-label> 
                                        <wm-label paddingunit="em" width="100%" caption="5" class="h3" name="label47_1"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.7" paddingunit="em" paddingright=".5" fontunit="em" fontsize="3.5" columnwidth="4" class="col-xs-4" name="gridcolumn67"> 
                                        <wm-icon showindevice="all" iconclass="glyphicon glyphicon-lock" class="pull-right" name="icon10"></wm-icon> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow opacity="1" name="gridrow36"> 
                                    <wm-gridcolumn opacity="1" columnwidth="12" name="gridcolumn68"> 
                                        <wm-progress opacity="1" width="100%" height="4" name="progress10" datavalue="50" type="danger"></wm-progress> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn opacity="0.6" columnwidth="12" name="gridcolumn69"> 
                                        <wm-label paddingbottom="1" paddingunit="em" fontunit="em" fontsize="1" caption="Compared last week (.1%)" class="h5" marginbottom="0" marginunit="em" name="label48_1"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow23"> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn44" paddingleft=".5" paddingright=".5" paddingunit="em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel4_1" title="Visitors Analytics" height="30em"> 
                            <wm-label paddingunit="em" color="#666" caption="Where do our visitors come from" width="100%" name="label14" class="h5" margintop="0" marginunit="em" marginbottom="0"></wm-label> 
                            <wm-label paddingunit="em" caption="Page Views: 70" width="100%" name="label15" class="h5" marginunit="em"></wm-label> 
                            <wm-label paddingunit="em" caption="Unique Visitors: 40" width="100%" name="label16_1" class="h5" margintop="0" marginunit="em"></wm-label> 
                            <wm-chart name="chart4" type="Bar" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" fontsize="1" fontunit="em" show="true" showlegend="false" tooltips="true" xaxislabeldistance="1" xaxislabel="No. of Emp" yaxislabel="Growth rate" theme="Annabelle" margintop="1" marginunit="em"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn46_4" paddingleft=".5" paddingright=".5" paddingunit="em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel5" title="Visitors" height="30em"> 
                            <wm-label paddingunit="em" caption="1,225,729" width="100%" name="label17_1" class="h3" margintop="0" marginunit="em"></wm-label> 
                            <wm-chart name="chart2" type="Pie" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" showlegend="false" theme="Orient"></wm-chart> 
                            <wm-label paddingunit="em" paddingleft="1" caption="34.0%" name="label19" class="h5" margintop="0" marginunit="em" fontweight="bold" width="30%"></wm-label> 
                            <wm-label color="#666" paddingunit="em" paddingleft="1" caption="New Visitors" name="label21" class="h5" margintop="0" marginunit="em" width="70%"></wm-label> 
                            <wm-label paddingunit="em" paddingleft="1" name="label27_1" caption="56.0%" class="h5" margintop="0" marginunit="em" fontweight="bold" width="30%"></wm-label> 
                            <wm-label name="label28" color="#666" paddingunit="em" paddingleft="1" caption="Return Visitors" class="h5" margintop="0" marginunit="em" width="70%"></wm-label> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn47" paddingleft=".5" paddingright=".5" paddingunit="em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel6_1" title="Visitors Origin" height="30em"> 
                            <wm-chart type="Column" name="chart4_1" yaxislabeldistance="1" yaxislabel="No. of visitors" xaxislabel="Place" showlegend="false" theme="Retro" margintop="1" marginunit="em" height="16em"></wm-chart> 
                            <wm-livelist listclass="list-group" dataset="1, 2, 3, 4, 5" borderunit="em" name="livelist5" template="true"> 
                                <wm-listtemplate layout="inline" name="listtemplate5"> 
                                    <wm-layoutgrid class="inline" borderleft="0" borderunit="em" marginunit="em" name="layoutgrid15_1"> 
                                        <wm-gridrow borderstyle="solid" borderleft="0" borderright="0" bordertop="1" borderbottom="0" bordercolor="#CCC" name="gridrow32_1"> 
                                            <wm-gridcolumn columnwidth="6" data-template-ctr="true" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" paddingbottom="1" name="gridcolumn59_2" class="col-xs-6"> 
                                                <wm-label width="100%" caption="John Doe" marginbottom="0" marginunit="em" class="h5" name="label34"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" data-template-ctr="true" horizontalalign="right" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" paddingbottom="1" name="gridcolumn60_1" class="col-xs-6"> 
                                                <wm-label caption="20" marginbottom="0" marginunit="em" class="badge h5" name="label35"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow28" paddingleft=".5" paddingright=".5" bordertop="0" borderleft="0" borderright="0" borderbottom="1" borderstyle="solid" bordercolor="#CCC" paddingunit="em"> 
                    <wm-gridcolumn paddingunit="em" paddingright="1" paddingleft="1" name="gridcolumn45" columnwidth="4"> 
                        <wm-panel title="New Registered Users" name="panel3" class="panel-default" collapsible="false" showheader="true" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" paddingunit="em" marginbottom="1" margintop="1" marginunit="em" paddingtop="0" paddingbottom="0" paddingleft="0" paddingright="0"> 
                            <wm-livelist listclass="list-group" name="livelist2_1" dataset="1, 2, 3, 4, 5" template="true"> 
                                <wm-listtemplate layout="media" name="listtemplate2_1"> 
                                    <wm-container class="media" name="container4" paddingunit="em" borderleft="0" borderright="0" bordertop="0" borderbottom="1" borderstyle="solid" bordercolor="#CCC"> 
                                        <wm-container class="media-left" name="container5" paddingleft=".5" paddingright=".5" paddingunit="em" paddingtop=".5" paddingbottom=".5"> 
                                            <wm-picture class="media-object picture" shape="circle" width="60" name="picture10" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg"></wm-picture> 
                                        </wm-container> 
                                        <wm-container class="media-body" data-template-ctr="true" name="container6" paddingtop=".9" paddingleft=".9" paddingright=".9" paddingbottom=".9" paddingunit="em"> 
                                            <wm-label width="100%" caption="John Doe" name="label47" class="h5" fontweight="bold" marginbottom="0" marginunit="em" margintop="0"></wm-label> 
                                            <wm-label width="100%" caption="User" name="label48" class="h5" fontstyle="italic" marginbottom="0" marginunit="em" margintop="0"></wm-label> 
                                        </wm-container> 
                                        <wm-container class="media-right media-middle" name="container7_1"></wm-container> 
                                    </wm-container> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn paddingunit="em" paddingright="1" paddingleft="1" name="gridcolumn46_1" columnwidth="4"> 
                        <wm-panel name="panel4" backgroundcolor="#fff" paddingbottom="0" title="Today's Schedule" show="true" class="panel-default" collapsible="false" showheader="true" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" paddingunit="em" horizontalalign="center" paddingtop="2" paddingleft="0" paddingright="0" margintop="1" marginunit="em" marginbottom="1"> 
                            <wm-calendar name="calendar2" bordertop="0" borderright="0" borderleft="0" borderbottom="0" borderunit="em" marginleft="1" margintop="1" marginright="1" marginbottom="1" marginunit="em"></wm-calendar> 
                            <wm-livelist listclass="list-group" name="livelist3" dataset="1, 2, 3, 4, 5" borderunit="em" template="true"> 
                                <wm-listtemplate layout="inline" name="listtemplate3"> 
                                    <wm-layoutgrid class="inline" name="layoutgrid13" borderleft="0" borderunit="em" marginunit="em"> 
                                        <wm-gridrow name="gridrow28_1" borderstyle="solid" borderleft="0" borderright="0" bordertop="1" borderbottom="0" bordercolor="#CCC"> 
                                            <wm-gridcolumn columnwidth="6" data-template-ctr="true" name="gridcolumn55" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" paddingbottom="1" class="col-xs-6"> 
                                                <wm-label width="100%" caption="John Doe" name="label31" marginbottom="0" marginunit="em" class="h5"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" data-template-ctr="true" name="gridcolumn56" horizontalalign="right" paddingleft="1" paddingright="1" paddingunit="em" paddingtop="1" paddingbottom="1" class="col-xs-6"> 
                                                <wm-label caption="20" name="label32_1" marginbottom="0" marginunit="em" class="badge h5"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn paddingunit="em" paddingright="1" paddingleft="1" name="gridcolumn116" columnwidth="4"> 
                        <wm-panel paddingunit="em" name="panel6" backgroundcolor="#fff" paddingbottom="0" paddingright="0" paddingleft="0" title="Chat History" show="true" class="panel-default" collapsible="false" showheader="true" bordertop="0" borderleft="0" borderright="0" borderbottom="0" borderunit="em" margintop="1" marginunit="em" marginbottom="1" paddingtop="0"> 
                            <wm-livelist listclass="list-group" template="true" name="livelist5_1" dataset="1, 2, 3, 4, 5"> 
                                <wm-listtemplate layout="media" name="listtemplate5_1"> 
                                    <wm-layoutgrid name="layoutgrid8"> 
                                        <wm-gridrow name="gridrow14" paddingbottom="1" paddingunit="em"> 
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn31" paddingleft="1" paddingunit="em" horizontalalign="center" paddingtop="1.5" class="col-xs-3"> 
                                                <wm-picture class="media-object picture  col-xs-3" shape="circle" width="5em" name="picture3" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn32" horizontalalign="center" paddingtop="1" paddingunit="em" class="col-xs-9"> 
                                                <wm-container name="container12" class="popover inline right" width="90%"> 
                                                    <wm-container name="container13" class="arrow"></wm-container> 
                                                    <wm-label name="label28_1" class="popover-title" width="100%" caption="John Doe"></wm-label> 
                                                    <wm-container name="container14" class="popover-content"> 
                                                        <wm-label name="label29" caption="All Good"></wm-label> 
                                                    </wm-container> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
        <wm-right-panel columnwidth="2" content="rightnav"></wm-right-panel> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>